
.MainContainer {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  
}
h1{
font-family: Georgia, "Times New Roman", Times, serif;;
}
.weather_container {
 background-color: lightcyan;
  margin-top: 3rem;

  width: 15.5rem;
  padding-left: 4rem;
}
.search_form{
  
 margin-top: 2rem;
}

.image {
  display: flex;
}
.temp {
  display: flex;
  justify-content: space-around;
}
.alert {
  
  color: red;
  font-size: 15px;
   position: absolute;
  top: 27%;
  right: 52%;
}
.error {
  
  color: red;
  font-size: 15px;
   position: absolute;
  
  top: 29.5%;
  right: 52.5%;
}
.text-center {
  position: absolute;
  top: 32%;
  right: 50%;
}
.btn {
  margin-left: 5px;
  margin-bottom: 5px;
}